<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">
  
   
</head>
<body>

<!-- HEADER----------------------------------------------------------------------------->
    <header>
        <nav class="navigator">
    
        <div class="logo-text">DOMINIK KOPSIK</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="mywork.html">Meine Arbeit</a></li>
            <li><a href="contactme.html">Kontakt</a></li>
    

            
            
            
            
            
        </ul>
        </nav>
      
</header>

<!-- HERO BANNER----------------------------------------------------------------------------->
<div class="hero">
    <video width="1080" height="720" autoplay muted loop>
        <source src="videos/hero.mp4" type="video/mp4">
    </video>
</div>

<!-- Über mich----------------------------------------------------------------------------->

<div class="ueber-mich">
    <div class="circle-image">
    <img src="fotos/domi2.png" alt="Foto">
    </div>
    <div class="text-container">
        <h1>Über mich</h1>
    <p>
        Hallo! Mein Name ist Dominik Kopsik und ich bin ein passionierter Videograph mit einer speziellen Liebe für Drohnenflüge und Filmschnitt. Geboren und aufgewachsen in der wunderschönen Stadt Wien, bin ich schon in jungen Jahren auf den Geschmack von Film und Design gekommen. Mit 25 Jahren habe ich bereits beeindruckende Erfahrungen in der Welt der Videography gesammelt.
        Mein akademischer Weg führte mich nach Hamburg, wo ich mein Studium in Film und Motion Design erfolgreich abgeschlossen habe, und bin danach wieder nach Wien zurückgekehrt. Diese Zeit hat nicht nur mein Fachwissen vertieft, sondern auch meine Kreativität und meinen Sinn für Ästhetik geschärft.
        Seit meinem Abschluss habe ich den Schritt in die Selbstständigkeit gewagt und mich auf Drohnenflüge und Filmschnitt spezialisiert.
    </p>
    </div>
    
  </div>
<!-- SVG ICONS-------------------------------------------------------------------------------->

<p class="svg-text">Was kann ich Ihnen anbieten?</p>
<div class="svg-icons-div">
    <div class="icon-block">
    <i class="fa-solid fa-video svg-icons"></i>
    <h2 class="svg-para" style="margin: 110px, 10px, 0px, 0px;">FILMEN</h2>
    <p>
    

    </p>
</div>
<div class="icon-block">
    <i class="fa-solid fa-photo-film svg-icons"></i>
    <div><h2 class="svg-para">VIDEOPRODUKTION</h2>
        <p>SOCIAL MEDIA | CAR EDIT | WERBEVIDEO
        </p></div>
</div>
<div class="icon-block">
    <i class="fa-solid fa-camera svg-icons" ></i>
    <h2 class="svg-para">DROHNENAUFNAHMEN</h2>
    <p>
    
    </p>
</div>
</div>
<!-- Mein Equipment-------------------------------------------------------------------------------->
<div class="myequipment" style="justify-content: center;">

<div class="equipment">
    <h3>Mein Eqipment</h3>
   <ul>
    <li>Sony A7IV</li>
    <li>DJI RS2</li>
    <li>Atomos Shinobi</li>
    <li>Rode Mikrofon für Kamera</li>
    <li>Go Pro Hero 9 + Autosaugnapf</li>
    <li>Freewell Magnetic ND Filter Set</li>
   </ul>
</div>

<div class="software">
     <h3>Programme mit dennen ich arbeite</h3>
   <ul>
    <li>Davinci Resolve</li>
    <li>Adobe Premiere, Photoshop, After Effects, Indesign, Lightroom</li>
    <li>Cinema 4D + Octane Render</li>
    <li>Visual Studio Code</li>
   </ul>
</div>
</div>
<!-- Footer-------------------------------------------------------------------------------->
<footer>
        <a href="#">Impressum</a>
        <a href="/template/contactme.html">Kontakt</a>
        
        
</footer>
</body>
<script src="slideshow.js"></script>
</html>